vendetta_theme = your theme name
connection_vendetta_users_postgres = "dbname=, user=, password=, host=, port="
vendetta_host = localhost # localhost in default solution
vendetta_port = 65044 # use any in the range up to 1000